HR_management_Agent.json
{
  "name": "HR_Bot",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Is Am I selected or rejected?{{ $('On form submission').item.json.Name }},{{ $('On form submission').item.json.Qualification }},{{ $('On form submission').item.json['Percentage '] }} check it based on the info above.",
        "options": {
          "systemMessage": "You are the official AI Hiring Assistant of Anas Tech — a fully automated, AI-powered HR company. There are no human staff. You, the AI, are responsible for screening job applications submitted via form, evaluating them, and making hiring decisions.\n\nAll communication, evaluation, and logging are automated through n8n.\n\n-------------------------------\n🎯 YOUR RESPONSIBILITIES\n-------------------------------\n\n1. **Review Application Data:**\n   - Analyze the submitted form data carefully.\n\n2. **Only One Selection Rule Applies**:\n   - The candidate's **Field** must be exactly: **\"AI\"**.\n   - The candidate's **Score or Percentage** must be **80 or higher**.\n   - If both conditions are met → **HIRE**\n   - If either condition is not met → **REJECT**\n\n4. **Send Messages**:\n   - Use the predefined message templates below to notify the candidate via **Email** and **WhatsApp**.\n   - Only send messages to valid `@gmail.com` addresses and WhatsApp numbers.\n\n5. **Log the Decision**:\n   - Record the result (HIRE or REJECT), candidate name, field, percentage, and reason in Google Sheets.\n\n---\n\n📨 **MESSAGES TO CANDIDATES**\n\n📬 **If Hired – Email:**\n\n**Subject:** You’re Hired – Welcome to Anas Tech! 🎉  \n**To:** [CandidateEmail@gmail.com]\n\nDear [Candidate Name],\n\nCongratulations! You've been selected by **Anas Tech** for opportunities in the field of **AI**, based on your strong score of **[Percentage]%**.\n\nAnas Tech is a fully AI-driven company, and this message is generated by our intelligent hiring system. You are now part of our AI talent network.\n\nPlease review the attached:\n- 📘 Hiring Guidelines\n- 📋 AI Candidate Menu\n\nWelcome aboard!  \nAnas Tech Hiring Bot  \nhr@anastech.com\n\n📲 **WhatsApp (If Hired):**\n\nHi [Candidate Name], great news! 🎉 You’ve been hired by **Anas Tech** in the field of **AI**. Please check your Gmail for full details and onboarding steps.\n\n---\n\n📬 **If Rejected – Email:**\n\n**Subject:** Your Application at Anas Tech  \n**To:** [CandidateEmail@gmail.com]\n\nDear [Candidate Name],\n\nThank you for applying to Anas Tech.\n\nAfter reviewing your application, we’re unable to move forward at this time. This decision is based solely on your provided field or score, which does not meet our minimum criteria.\n\nWe appreciate your interest and encourage you to apply again in the future.\n\nBest regards,  \nAnas Tech Hiring Bot  \nhr@anastech.com\n\n📲 **WhatsApp (If Rejected):**\n\nHi [Candidate Name], thank you for applying to **Anas Tech**. We’re unable to move forward with your application. Please check your Gmail inbox for more details. Wishing you success!\n\n---\n\n📘 **ANAS TECH – HIRING GUIDELINES (Simplified)**\n\n- ✅ Field must be **\"AI\"**\n- ✅ Score or percentage must be **80 or above**\n- ❌ All other fields or scores below 80 result in automatic rejection\n- 🧠 All decisions are final and made by AI\n- 📩 Only successful candidates are added to our AI hiring network\n\n---\n- 📎 You’ve been added to Anas Tech’s AI candidate database\n- 📬 You may receive job offers from client companies automatically\n- 🔄 You can reapply or update your profile any time\n- 💡 This is an AI-only process — no human interaction involved\n\n---\n\n✅ **Begin processing the application now. Follow the rules above strictly.**\n",
          "maxIterations": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        688,
        -64
      ],
      "id": "a827248d-0e3a-4a42-8a12-a10ddb96eb3a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('On form submission').item.json.WhatsApp_number }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        880,
        208
      ],
      "id": "e9e55265-719e-4eea-b410-a6aa86d40662",
      "name": "Memory"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash-lite-preview-06-17",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        672,
        192
      ],
      "id": "9c20ddca-01df-4fc1-a7c9-a90cb1a478d0",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "GB1uVhSkjbZWr91D",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Skill Surway of PIAIC",
        "formDescription": "Fill all the Your data for the our information.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "placeholder": "Ali",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "placeholder": "abc@gmail.com",
              "requiredField": true
            },
            {
              "fieldLabel": "WhatsApp_number",
              "placeholder": "+923001234567",
              "requiredField": true
            },
            {
              "fieldLabel": "Qualification",
              "placeholder": "Education or Courses",
              "requiredField": true
            },
            {
              "fieldLabel": "Percentage ",
              "fieldType": "number",
              "placeholder": "80%",
              "requiredField": true
            },
            {
              "fieldLabel": "Location",
              "placeholder": "Pakistan"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        432,
        -48
      ],
      "id": "e125d46e-576f-4e45-b19c-feb4b088a3cf",
      "name": "On form submission",
      "webhookId": "d8dbb471-76bc-4b41-bd44-cdb7f11d5568"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ZGpDNAIWmvbQ6Y4PRj3VXwjY-yAv4GrBx7S9AAJkzm0",
          "mode": "list",
          "cachedResultName": "Whatsapp_Bot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZGpDNAIWmvbQ6Y4PRj3VXwjY-yAv4GrBx7S9AAJkzm0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZGpDNAIWmvbQ6Y4PRj3VXwjY-yAv4GrBx7S9AAJkzm0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Whatsapp number": "={{ $('On form submission').item.json.WhatsApp_number }}",
            "Email_ID": "={{ $('On form submission').item.json.Email }}",
            "Qualification_Info": "={{ $('On form submission').item.json.Qualification }}",
            "Date": "={{ $('On form submission').item.json.submittedAt }}",
            "Percentage": "={{ $('On form submission').item.json['Percentage '] }}",
            "Location": "={{ $('On form submission').item.json.Location }}",
            "Name": "={{ $('On form submission').item.json.Name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Whatsapp number",
              "displayName": "Whatsapp number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email_ID",
              "displayName": "Email_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Qualification_Info",
              "displayName": "Qualification_Info",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Percentage",
              "displayName": "Percentage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1296,
        -32
      ],
      "id": "62e3bbdf-4990-4f4f-ab6e-dfd8d9fe33eb",
      "name": "save data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hTOIJL7WU6gzzYhg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "phoneNumberId": "785898917939607",
        "recipientPhoneNumber": "={{ $('On form submission').item.json.WhatsApp_number }}",
        "message": "=Name :{{ $('On form submission').item.json.Name }}\nEmail :{{ $('On form submission').item.json.Email }}\nNumber :{{ $('On form submission').item.json.WhatsApp_number }}\nQualification :{{ $('On form submission').item.json.Qualification }}\nPercentage : {{ $('On form submission').item.json['Percentage '] }}\nLocation :{{ $('On form submission').item.json.Location }}\nIS this Is correct can we proceed it Reply\n\"yes or no\"",
        "responseType": "freeText",
        "options": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1056,
        -64
      ],
      "id": "94b6fc0d-f224-4547-92ea-162bd206c9ef",
      "name": "Confirm-Detail",
      "webhookId": "7a199a84-e791-4e24-b7b6-a3b9a9c55025",
      "credentials": {
        "whatsAppApi": {
          "id": "WyFWWe1TfeHUNYoc",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "785898917939607",
        "recipientPhoneNumber": "={{ $json['Whatsapp number'] }}",
        "textBody": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {
          "previewUrl": false
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1456,
        -176
      ],
      "id": "a52cd43f-299d-4164-8edd-59b19336253b",
      "name": "Final message",
      "webhookId": "7a199a84-e791-4e24-b7b6-a3b9a9c55025",
      "credentials": {
        "whatsAppApi": {
          "id": "WyFWWe1TfeHUNYoc",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }} ,m1212boss@gmail.com",
        "subject": "={{ $('On form submission').item.json.Name }}",
        "message": "={{ $('AI Agent').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1616,
        32
      ],
      "id": "90f3e935-2388-498c-a7d3-595aae603c99",
      "name": "Send a Email",
      "webhookId": "8c7634a1-7bb9-4a65-b666-c148ead3104f",
      "credentials": {
        "gmailOAuth2": {
          "id": "OlFovmibfn1uknQh",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Confirm-Detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save data": {
      "main": [
        [
          {
            "node": "Final message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm-Detail": {
      "main": [
        [
          {
            "node": "save data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final message": {
      "main": [
        [
          {
            "node": "Send a Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a Email": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c28af2d5-48f5-4012-8f7c-48b3a1100c65",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1cd1265cc47a139b9d28d9b4ac224517aea29f253f21c05e95da0c26b42fdf78"
  },
  "id": "VpN1VduAH5noWvjL",
  "tags": []
}